.editable{
	border: 1px solid lightgrey;
	height: auto;
	display: block;
	font-family: monospace;
    white-space: pre-wrap;
}

.editable.response{
	width: auto;
	min-height: 200px;
	clear: both;
}

.editable.header{
	width: auto;
	min-height: 20px;	
	clear: both;
}


.label{
	font-size: 0.2em;
	color: grey;
	float: left;
}

.wait{
	background-color: #CCC;
	filter:alpha(opacity=60); /* IE */
	-moz-opacity:0.6; /* Mozilla */
	opacity: 0.6; /* CSS3 */
	position: fixed; 
	top: 0; 
	left: 0;
	min-width:100%;
	min-height: 100%;
	z-index: 1001;
	display: none;
}

