include mixins

-var ctrl = ngController

+header("REST API DEMO", ctrl)

block content
	.container
		.jumbotron
			.jumbotronHeader.clearfix
					.title
							=viewName
					.icons
						a(ng-click="init()")
							i.fa.fa-refresh
						a(onclick="toggleTech()")
							i.fa.fa-indent
			.contentWrapper#payments
				.row
					.col-md-5.clearfix#business
							include checkout
					.col-md-7#tech
						p.label Authorization
							.editable.header(name="requestHeader" ng-model="requestHeader" ng-bind-html="requestHeader" contenteditable)
						p.label Body
							.editable.response(name="requestBody" ng-model="requestBody" ng-bind-html="requestBody | formatText" contenteditable)
						p.label Response Status Code
							.editable.header(name="responseStatusCode" ng-model="responseStatusCode" ng-bind-html="responseStatusCode") 
						p.label Response Headers
							.editable.header(name="responseHeader" ng-model="responseHeader" ng-bind-html="responseHeader")
						p.label Response Body
							.editable.response(name="responseBody" ng-model="responseBody" ng-bind-html="responseBody | formatText")
	

block footer
	+wait()
	+footer()

