include mixins
doctype
html(ng-app="paymentsApp")
		head
				meta(charset="utf-8")
				meta(name="viewport" content="width=device-width, initial-scale=1")
				block title
					title="GlobalPay REST API DEMO"
				link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
				link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
				link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
				link(rel="stylesheet", href="/style/style.css")

body
	include menu

	block body

	.wait

	script(src="/scripts/bower-dist/angular.min.js")
	script(src="/scripts/bower-dist/angular-route.min.js")
	script(src="/scripts/bower-dist/angular-sanitize.min.js")
	script(src="/scripts/bower-dist/angular-cookies.min.js")
	script(src="/scripts/bower-dist/ngStorage.min.js")
	script(src="/scripts/demoapp.js")
	script(src="/scripts/controllers.js")
	script(src="/scripts/directives.js")
	script(src="/scripts/filters.js")
	script(src="/scripts/utils.js")
	script(src="/scripts/ui.js")
	script(src="https://code.jquery.com/jquery-2.1.3.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
