+nav("Project name", "dropdown_menu")
	+nav_item( "/", "active" ) Home
	+nav_item( "/about" ) About
	+nav_item_dropdown( "#" )( label="Payments")
		+nav_item( "/payments/create" ) Create
		+nav_item( "#" ) Get
		+nav_item( "#" ) Get with filters
		+nav_divider
		+nav_header Nav header
		+nav_item( "#" ) Patch
