+nav("GLOBALPAY DEMO", "dropdown_menu")
	+nav_item_dropdown("")( label="Payments")
		+nav_item(true,"#/payments") Create
		+nav_item(true, "#/payments/get") Get
		//+nav_divider
		//+nav_header Nav header
		//+nav_item( "" ) Patch
	+nav_item_dropdown( "" )( label="Methods")
		+nav_item( true, "#/methods/get" ) Get
		//+nav_item( "" ) Get
		//+nav_item( "" ) Get with filters
		//+nav_divider
		//+nav_header Nav header
		//+nav_item( "" ) Patch
	//+nav_item_dropdown( "#" )( label="Refunds")
		//+nav_item( "" ) Create
		//+nav_item( "" ) Get
		//+nav_item( "" ) Get with filters
		//+nav_divider
		//+nav_header Nav header
		//+nav_item( "" ) Patch
	//+nav_item_dropdown( "" )( label="Recurrent")
		//+nav_item( "" ) Create
		//+nav_item( "" ) Get
		//+nav_item( "" ) Get with filters
		//+nav_divider
		//+nav_header Nav header
		//+nav_item( "" ) Patch
